Требования к itcareer.pythonanywhere.com

1. General part
Scope: Страница создана для отправки введенных данных( Name, Surname, Email, Password) на сервер 
R 1001 При открытии страницы в окне должны быть поля для ввода данных и одна стандартная кнопка (Submit)
R 1002 нажатие на Кнопку Submit должна предупреждать о наличии незаполненных полей если такие имеются
R 1003 При отправке данных с незаполненной строкой пользователь должен иметь возможность добавить данные, а раннее заполненные остаются.
R 1004 Для отправки данных пользователь должен нажать кнопку «Submit»

1.1. Name
R 2001 Чтобы заполнить информацию в поле Name, пользователь должен нажать на поле ввода данных Name 
R 2002 По умолчанию до нажатия на поле Name в поле ввода данных должно отображаться  “ Name? ”
R 2003 Данные должны состоять из: 
- минимальное количество символов – 3
- максимальное количество символов – 255 
- Чувствительны к верхнему регистру
- Спецсимволы запрещены 
- Ввод данных Латиница

1.2. Surname
R 3001 Чтобы заполнить информацию в поле Surname, пользователь должен нажать на поле ввода данных Surame
R 3002 По умолчанию до нажатия на поле Name в поле ввода данных должно отображаться  “ Surname? ”
R 3003 Требования имеют те же характеристики что и R 2003


1.3. EMAIL
R 4001 Чтобы заполнить информацию в поле EMAIL, пользователь должен нажать на поле ввода данных Email
R 4002 Локальная часть должна иметь минимум 1 и максимум 64 символа
R 4003 По умолчанию до нажатия на поле EMAIL в поле ввода данных должно отображаться  “ Your email address? ”
R 4004 Доменная часть должна иметь минимум 2 и максимум 255 символов
R 4005 Не может начинаться с ‘.’ И заканчиваться на ‘.’

1.4. Password
 R 5001 Чтобы заполнить информацию в поле PASSWORD, пользователь должен нажать на поле ввода данных PASSWORD
R 5002 По умолчанию до нажатия на поле Password в поле ввода данных должно отображаться  “ Enter a password. ”
R 5003 При вводе данных замена вводимых символов на ‘.’
R 5004 Данные должны иметь минимум 5 символов и максимум 32 символов
R 5005 Обязательно наличие минимум 1 буквы верхнего регистра и минимум 1 цифры 1 спец символ